*{
    margin:0;
    padding:0;
    color:#FFF;
}

/* nav section */
.nav-container{
    background-color: gray;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.menu-container ul{
    display:flex;
}
ul li{
    font-size:20px;
    list-style: none;
    padding: 30px;
}
ul li a{
    color:black;
    text-decoration: none;    
}
.menu-container ul li:hover{
    background-color:violet;
}
/* banner section */
.banner-container{
    height:120vh;
    background-image: url("asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .3));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    text-align:center;
}
.banner-info{
    margin-left:280px;
}
span{
    color:red;
}
.title-primary{
    font-size: 55px;
    
}
.paragraph-primary{
    
    margin:20px 0;
}
.btn-primary{
    font-size: 14px;
    width:120px;
    height:40px;
    border:5px ;
    border-radius: 3px;
    background-color: red;
}

/* service section */
.service-container{
    height:600px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("asset/image/footer-bg.png"),linear-gradient(rgba(0 ,0 , 0 ,0.9),rgba(0 , 0 , 0 , 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

}
/* service info */
h2{
    font-size:30px;
}
.service-paragraph{
    margin:10px 0;
}
.author-container{
    margin-top:30px;
    display:flex;
    align-items:center;
}
.author-img{
    margin-right:5px;
    width:70px;
    height: 70px;
    border-radius: 70px;
    border:#000;
}
#btn-service{
    margin-left:30px;
}
/* service icon */
.icon{
    width:70px;
    height:70px;
    margin-top:30px;
}
.icon-box{
    display:flex;
}
.box{
    margin:10px;
    text-align:center;
    background-color:#FFF;
    width:200px;
    height:150px;
    border:2px solid #000;
    border-radius: 10px;
}
h3{
    color:#000;
}
/* call section */
.call-container{
    margin:auto;
    margin-top:-40px;
    width:80%;
    height:150px;
    border:1px;
    border-radius: 10px;
    background-color: rgba(0,0,255,0.8);
    display:flex;
    justify-content: space-around;
    align-items: center;
   
}
.phonecall-img{
    width:70px;
    height:70px;
}

    
   