*{
    margin:0;
    padding:0;
    
}
/* nav section */
.nav-container{
    background-color: gray;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.menu-container ul{
    display:flex;
}
ul li{
    font-size:20px;
    list-style: none;
    padding: 30px;
}
ul li a{
    color:black;
    text-decoration: none;    
}
ul li:hover{
    background-color:violet;
}
/* banner section */
.banner-container{
    height:120vh;
    background-image: url("asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .3));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    text-align:center;
    
   
}
.banner-info{
    margin-left:280px;
    
}
span{
    color:red;
}
.title-primary{
    font-size: 55px;
    color:#FFF;
}
.paragraph-primary{
    color:#FFF;
    margin:20px 0;
}
.btn-primary{
    font-size: 14px;
    color:#FFF;
    width:120px;
    height:40px;
    border:5px ;
    background-color: red;
}
    
   